{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "app/head_includes.html" %}
    {% if selected_category %}
        <title>{{ selected_category.name }}</title>
    {% endif %}
</head>
<body>
<main>
    <!-- Toolbar -->
    <div class="navbar-fixed">
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a class="brand-logo center">{{ selected_category.name }}</a>
                    <div class="left hide-on-med-and-down" style="margin-left: 16px">
                        <a href="{% url 'index' %}"><i class="material-icons">arrow_back</i></a>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% if cat_films %}
                {% for film in cat_films %}
                    <div class="col s2 m2 l2">
                        <a href="{% url 'play' film.id %}">
                            <div class="card hoverable">
                                <div class="card-image">
                                    <img class="responsive-img" style="height: 255px" src="{{ film.image_url }}">
                                    <span class="card-title">{{ film.name }}</span>
                                    <a href="{% url 'play' film.id %}" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">play_arrow</i></a>
                                </div>
                                <div class="card-content" style="height: 190px">
                                    <p>{{ film.desc }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</main>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="{% static 'app/js/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/materialize.min.js' %}"></script>
</body>
</html>