::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:   white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white;
   opacity:  1;
}
::-moz-placeholder {
    color: white;
    opacity:  1;
}
:-ms-input-placeholder { color: white;}
:-ms-input-placeholder { color: white;}
::placeholder { color: white; }

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

#home-films {
    background: black;
}

.film-card {
    width: 100%;
    height: 12rem;
    border-radius: 4px;
}

.film-card img {
    width: 100%;
    height: 12rem;
    position: absolute;
    border: 1px solid black;
    border-radius: 4px;
}

.film-card-overlay {
    position: absolute;
    width: 100%;
    height: 12rem;
    background: #fff;
    opacity: 0;
    border: 3px solid black;
    border-radius: 4px;
    transition: all .4s 0.1s;
}

.film-info {
    position: absolute;
    display: table;
    width: 100%;
    height: 12rem;
    opacity: 0;
    text-shadow: 2px 2px rgba(0,0,0,0.09);
}

.film-info p {
    font-weight: 800;
    font-size: 12px;
    padding: 4px;
}

.film-card:hover .film-card-overlay{
    opacity: 0.75;
    transition: all .4s;
}

.film-card:hover div{
    opacity: 1;
    transition: all .4s;
}

a, a:hover {
    color: black;
}

.material-icons {
    font-size: 18px;
}

#searchcontainer {
    height: 100%;
    float: right;
    color: white !important;
}

#search {
    all: unset !important;
    height: 50%;
    font-size: medium;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: none;
}

#search:focus, input:focus{
    outline: none;
}

